
<div class="container1">
  <div class="left">
      <mat-card class="mat-elevation-z5">
        <div style="padding: 3em" width="100%">

          <form autocomplete="off" [formGroup]="formularioReceta">
            <div class="col">
              <!-- Aqui empeiez lo de Busqueda -->
              <h2>Nueva Receta</h2>
            </div>
            <div>

              <mat-form-field style="width: 50%;" appearance="outline">
                <mat-label>Cita</mat-label>
                <input matInput placeholder="Cita" formControlName="id_cita" readonly>
              </mat-form-field>


              <mat-form-field style="width: 50%;" appearance="outline" >
                <mat-label>Fecha</mat-label>
                <input required matInput [matDatepicker]="picker" formControlName="fecha">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker color="primary"></mat-datepicker>
              </mat-form-field>
              <mat-form-field style="width: 50%;" appearance="outline">
                <mat-label>Diagnostico</mat-label>
                <input [maxLength]="30" matInput placeholder="Diagnostico" formControlName="diagnostico">
              </mat-form-field>

            </div>
            <div>
              <mat-form-field style="width: 50%;" appearance="outline">
                <mat-label>Medicamento</mat-label>
                <textarea matInput placeholder="Medicamento" formControlName="medicamento"></textarea>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field style="width: 50%;" appearance="outline">
                  <mat-label>Tareas</mat-label>
                  <textarea matInput placeholder="Tareas" formControlName="tareas"></textarea>
                  </mat-form-field>
            </div>
            <div>
              <mat-form-field style="width: 25%;" appearance="outline">
                <mat-label>Horario de medicamento</mat-label>
                <input matInput placeholder="Horario" formControlName="horarios" type="number">
              </mat-form-field>


            </div>

            <div>
                <button mat-raised-button color="primary" (click)="confirmAdd()">
                  Aceptar
                </button>

            </div>
          </form>
        </div>

</mat-card>
</div>
</div>
