<div class="container1">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="clase" [routerLink]="'../homepage'">Inicio</a></li>
          <li class="breadcrumb-item"><a class="clase" [routerLink]="'../expediente'">Expediente</a></li>
          <li class="breadcrumb-item"><a class="clase" onclick="window.history.back()">Citas</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a>Nueva receta</a></li>
        </ol>
      </nav>
    </div>
  </nav>

  <div class="search-div">
    <h2>Nueva Receta</h2>
  </div>

  <div width="100%">

      <div class="col formulaio">
        <mat-card class="mat-elevation-z5">
        <form autocomplete="off" [formGroup]="formularioReceta">
          <div>

            <mat-form-field style="width: 50%;" appearance="outline">
              <mat-label>Cita</mat-label>
              <input matInput placeholder="Cita" formControlName="id_cita" readonly>
            </mat-form-field>


            <mat-form-field style="width: 50%;" appearance="outline">
              <mat-label>Fecha</mat-label>
              <input required matInput [matDatepicker]="picker" formControlName="fecha">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker color="primary"></mat-datepicker>
            </mat-form-field>
            <mat-form-field style="width: 50%;" appearance="outline">
              <mat-label>Diagnostico</mat-label>
              <input [maxLength]="30" matInput placeholder="Diagnostico" formControlName="diagnostico">
            </mat-form-field>

          </div>
          <div>
            <mat-form-field style="width: 50%;" appearance="outline">
              <mat-label>Medicamento</mat-label>
              <textarea matInput placeholder="Medicamento" formControlName="medicamento"></textarea>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field style="width: 50%;" appearance="outline">
              <mat-label>Tareas</mat-label>
              <textarea matInput placeholder="Tareas" formControlName="tareas"></textarea>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field style="width: 25%;" appearance="outline">
              <mat-label>Horario de medicamento</mat-label>
              <input matInput placeholder="Horario" formControlName="horarios" type="number">
            </mat-form-field>


          </div>

          <div>
            <button mat-raised-button color="primary" (click)="confirmAdd()">
              Aceptar
            </button>

          </div>
        </form>
      </mat-card>
      </div>



  </div>
</div>
