<footer class="text-center" style="background-color: #002b5c; color: white;">

  <!-- Section: Links  -->
  <section class="">
    <div class="container p-1" >
      <div class="row mt-3">
        <div class="col-3">
          <br>
          <h5 class="text-uppercase fw-bold mb-4 centrado">
            Aviso de privacidad
          </h5>
          <p class="centrado"> © 2023 Copyright DOCFEE</p>
        </div>
        <div class="col-6">
          <br>
          <h5 class="text-uppercase fw-bold mb-4 centrado">
            Contacto
          </h5>
          <p class="centrado"><mat-icon> location_on</mat-icon>Educación Tecnológica 34, 37800 Dolores Hidalgo Cuna de la Independencia Nacional, Gto.</p>
          <p class="centrado"><mat-icon> email</mat-icon> hospital.docfee@gmail.com</p>
          <p class="centrado"><mat-icon> call</mat-icon> (415) 196 89 13</p>
        </div>
          <div class="col-3">
            <br>
            <h5 class="text-uppercase fw-bold mb-4 centrado">
              Redes sociales
            </h5>
            <mat-icon>facebook</mat-icon>
          </div>
      </div>
    </div>
  </section>
</footer>
