<div class="container1">

  <nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="clase" [routerLink]="'../homepage'">Inicio</a></li>
          <li class="breadcrumb-item"><a class="clase" [routerLink]="'../expediente'">Expediente</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a>Agregar cita</a></li>
        </ol>
      </nav>
    </div>
  </nav>

  <div>
    <mat-toolbar>
      <span> Agregar usuario </span>
      <span style="flex: 1 1 auto"></span>
    </mat-toolbar>
  </div>

  <div width="100%">
    <div class="col">


      <form [formGroup]="tratamientoForm">

        <div class="row">

            <mat-form-field appearance="outline" style="width: 50%; min-width: 200px;">
              <mat-label>ID tratamiento:</mat-label>
              <input type="text" matInput formControlName="id_tratamiento">
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 50%; min-width: 200px;">
              <mat-label>ID usuario:</mat-label>
              <input type="number" matInput formControlName="id_usuario">
            </mat-form-field>

        </div>

        <div class="row">

            <mat-form-field appearance="outline" style="width: 50%; min-width: 200px;">
              <mat-label>ID médico:</mat-label>
              <input type="number" matInput formControlName="id_medico">
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 50%; min-width: 200px;">
              <mat-label>Descripción:</mat-label>
              <textarea matInput formControlName="descripcion"></textarea>
            </mat-form-field>

        </div>

        <div class="row">

            <mat-form-field appearance="outline" style="width: 50%; min-width: 200px;">
              <mat-label>IPAS - Sistema tegumentario:</mat-label>
              <textarea matInput formControlName="ipas_SisTegumentario"></textarea>
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 50%; min-width: 200px;">
              <mat-label>IPAS - Sistema muscular:</mat-label>
              <textarea matInput formControlName="ipas_SisMuscular"></textarea>
            </mat-form-field>

        </div>
        <div class="row">

            <mat-form-field appearance="outline" style="width: 50%; min-width: 200px;">
              <mat-label>IPAS - Sistema óseo:</mat-label>
              <textarea matInput formControlName="ipas_SisOseo"></textarea>
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 50%; min-width: 200px;">
              <mat-label>IPAS - Sistema nervioso:</mat-label>
              <textarea matInput formControlName="ipas_SisNervioso"></textarea>
            </mat-form-field>

        </div>
        <div class="row">

            <mat-form-field appearance="outline" style="width: 50%; min-width: 200px;">
              <mat-label>IPAS - Sistema endocrino:</mat-label>
              <textarea matInput formControlName="ipas_SisEndocrino"></textarea>
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 50%; min-width: 200px;">
              <mat-label>IPAS - Sistema inmunológico:</mat-label>
              <textarea matInput formControlName="ipas_SisInmunologico"></textarea>
            </mat-form-field>

        </div>

          <div>
            <mat-form-field appearance="outline" style="width: 50%; min-width: 200px;">
              <mat-label>IPAS - Sistema circulatorio:</mat-label>
              <textarea matInput formControlName="ipas_SirCirculatorio"></textarea>
            </mat-form-field>
          </div>
      </form>



    </div>
  </div>
</div>
