<div>
  <mat-toolbar>
    <span> Agregar usuario </span>
    <span style="flex: 1 1 auto"></span>
  </mat-toolbar>
</div>

<div class="dialog-content">

  <div  width="100%">

    <mat-stepper linear #stepper class="stepper">
      <mat-step>
        <form autocomplete="off" [formGroup]="formulario">

          <div class="row">
            <ng-template matStepLabel> Usuario </ng-template>
            <input type="hidden">
            <mat-form-field style="width: 50%; min-width: 200px; " appearance="outline">
              <mat-label>Nombre</mat-label>
              <input [maxLength]="30" matInput placeholder="Nombre" formControlName="nombre" required>
              <span class="error-message" *ngIf="formulario.controls['nombre'].errors && formulario.controls['nombre'].touched">
                Este campo es requerido.
              </span>
            </mat-form-field>

            <mat-form-field style="width: 50%; min-width: 200px; " appearance="outline">
              <mat-label>Apellido paterno</mat-label>
              <input matInput placeholder="Expediente" formControlName="apPaterno" required>
              <span class="error-message" *ngIf="formulario.controls['apPaterno'].errors && formulario.controls['apPaterno'].touched">
                Este campo es requerido.
              </span>
            </mat-form-field>
          </div>


          <div class="row">

            <mat-form-field style="width: 50%; min-width: 200px; " appearance="outline">
              <mat-label>Apellido Materno</mat-label>
              <input matInput placeholder="Apellido Materno" formControlName="apMaterno" required>
              <span class="error-message" *ngIf="formulario.controls['apMaterno'].errors && formulario.controls['apMaterno'].touched">
                Este campo es requerido.
              </span>
            </mat-form-field>


            <mat-form-field style="width: 50%; min-width: 200px; " appearance="outline">
              <mat-label>Numero de seguro</mat-label>
              <input maxlength="11" minlength="11" matInput placeholder="Numero de seguro" formControlName="nss" required appNumeric>
              <span class="error-message" *ngIf="formulario.controls['nss'].errors && formulario.controls['nss'].touched">
                Este campo es requerido.
              </span>
            </mat-form-field>
          </div>

          <div class="row">

            <mat-form-field style="width: 50%; min-width: 200px; " appearance="outline">
              <mat-label>Telefono</mat-label>
              <input maxlength="11" minlength="11" matInput placeholder="Telefono" formControlName="telefono" required appNumeric>
              <span class="error-message" *ngIf="formulario.controls['telefono'].errors && formulario.controls['telefono'].touched">
                Este campo es requerido.
              </span>
            </mat-form-field>

            <mat-form-field style="width: 50%; min-width: 200px; " appearance="outline" class="d-none">
              <mat-label>Usuario de confianza</mat-label>
              <mat-select formControlName="id_UsuarioConfianza">
                <mat-option *ngFor="let usuario of usuariosCombo" [value]="usuario.id_usuario">{{usuario.nombre}}
                  {{usuario.apPaterno}}</mat-option>
              </mat-select>
            </mat-form-field>



            <mat-form-field style="width: 50%; min-width: 200px; " appearance="outline">
              <mat-label>Sexo</mat-label>
              <mat-select formControlName="sexo" required>
                <mat-option [value]="'H'">Hombre</mat-option>
                <mat-option [value]="'M'">Mujer</mat-option>
              </mat-select>
              <span class="error-message" *ngIf="formulario.controls['sexo'].errors && formulario.controls['sexo'].touched">
                Este campo es requerido.
              </span>
            </mat-form-field>



          </div>


          <div class="row">


            <mat-form-field style="width: 50%; min-width: 200px; " appearance="outline">
              <mat-label>Fecha de nacimiento</mat-label>
              <input required matInput [matDatepicker]="picker" formControlName="fechaNacimiento" required>
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker color="primary"></mat-datepicker>

              <span class="error-message" *ngIf="formulario.controls['fechaNacimiento'].errors && formulario.controls['fechaNacimiento'].touched">
                Este campo es requerido.
              </span>
            </mat-form-field>

            <mat-form-field style="width: 50%; min-width: 200px; " appearance="outline">
              <mat-label>Correo</mat-label>
              <input matInput placeholder="Correo" formControlName="correo" required>
                <span class="error-message" *ngIf="formulario.controls['correo'].errors?.['required'] || formulario.controls['correo'].errors?.['empty']">El correo es requerido</span>
                <span class="error-message" *ngIf="!formulario.controls['correo'].errors?.['required'] && formulario.controls['correo'].errors?.['email']">Debe ser un correo valido</span>
            </mat-form-field>

          </div>

          <div class="row">



            <mat-form-field style="width: 50%; min-width: 200px; " appearance="outline">
              <mat-label>Ocupacion</mat-label>
              <input matInput placeholder="ocupacion" formControlName="ocupacion" required>

              <span class="error-message" *ngIf="formulario.controls['ocupacion'].errors && formulario.controls['ocupacion'].touched">
                Este campo es requerido.
              </span>
            </mat-form-field>



          </div>

          <div class="element-btn">
            <button mat-raised-button color="primary" (click)="aceptar()" type="submit">
              Aceptar
            </button>

            <button mat-raised-button color="warn" class="cerrar" (click)="cerrar()">
              Cancelar
            </button>
          </div>


        </form>
      </mat-step>


      <!-- <mat-step>
        <form autocomplete="off" [formGroup]="formularioAntecedente">

          <div>
            <ng-template matStepLabel> Antecedentes </ng-template>
            <input type="hidden">

            <mat-form-field style="width: 50%; min-width: 200px; " appearance="outline">
              <mat-label>Medicamento</mat-label>
              <input [maxLength]="30" matInput placeholder="Nombre" formControlName="medicamentos">
            </mat-form-field>

            <mat-form-field style="width: 50%; min-width: 200px; " appearance="outline">
              <mat-label>Alcolismo</mat-label>
              <mat-select formControlName="alcolismo">
                <mat-option [value]="true">Si</mat-option>
                <mat-option [value]="false">No</mat-option>
              </mat-select>
            </mat-form-field>
          </div>


          <div>

            <mat-form-field style="width: 50%; min-width: 200px; " appearance="outline">
              <mat-label>Drogas</mat-label>
              <mat-select formControlName="drogas">
                <mat-option [value]="true">Si</mat-option>
                <mat-option [value]="false">No</mat-option>
              </mat-select>
            </mat-form-field>


            <mat-form-field style="width: 50%; min-width: 200px; " appearance="outline">
              <mat-label>Tabaquismo</mat-label>
              <mat-select formControlName="tabaquismo">
                <mat-option [value]="true">Si</mat-option>
                <mat-option [value]="false">No</mat-option>
              </mat-select>
            </mat-form-field>

          </div>

          <div>
            <mat-form-field style="width: 50%; min-width: 200px; " appearance="outline">
              <mat-label>Antecedentes familiares</mat-label>
              <input [maxLength]="30" matInput placeholder="Nombre" formControlName="antecedentesFamiliares">
            </mat-form-field>
          </div>

          <div>
            <mat-form-field style="width: 50%; min-width: 200px; " appearance="outline">
              <mat-label>Otros datos</mat-label>
              <input [maxLength]="30" matInput placeholder="Nombre" formControlName="otrosDatos">
            </mat-form-field>
          </div>
        </form>

      </mat-step> -->




    </mat-stepper>



  </div>

</div>


