.container1 {
    margin: 15px;
    margin-right: 35px;
    margin-left: 35px;
    padding: 15px;
    overflow: hidden;
    width: auto;
    height: auto;
    border-radius: 10px;
    font-size: 1rem;
    background-color: white ;
    padding-top: 87px;
    position: relative;
    height: 78%;
    border: 0px;
    overflow: hidden;
}

.padding {
    
}

.card1 {
    background-color: #002b5c !important;

}

.card2 {
    background-color: #2C2E43 !important;
}

.clase{
    color: black;
  }
a {
    color: white;
    text-decoration: none;
}
