<div class="auth-container centrado container1"> 
            <div class="row centrado">
                <div class="col-auto" >
                    <img src="./assets/images/404.png" class="imagen" >
                </div>
                <div class="col-auto ">
                  <span class="" style="color: #FFFFFF; font-size: 4vw; font-weight: bold; line-height: 80px">
                      ¡Ups! Parece que te perdiste
                    </span>
                    <br>
                    <span style="color: #FFFFFF; font-size: 2vw; font-weight: bold; line-height: 80px">
                      Esta página no está disponible
                    </span>
                    <br>
                    <div style="text-align: center">
                      <button type="button"  class="btn boton1" routerLink="/dashboard/homepage"> Volver a Inicio </button>
                    </div>
                    <br>
              </div>
            </div>
  </div>
  