<div class="auth-container centrado" style="background-color: #2C2E43; text-align: center;">
    <div class="row auth-main">
          <div class="auth-wrapper">
            
        <br><br><br><br><br><br><br><br><br>
            <div class="row">
                <div class="col-5">
                    <img src="./assets/images/404.png" class="doctor" >
                </div>
                <div class="col-7 ">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <span class="error-header p-b-5" style="color: #FFFFFF">
                        ¡Ups! Parece que te perdiste
                      </span>
                      <br>
                      <span class="error-subheader p-b-5" style="color: #FFFFFF">
                        Esta página no está sisponible
                      </span>
                      <br>
                      <div style="text-align: center">
                        <button mat-raised-button color="accent" style="margin-right: 90px; margin-top: 10px;" class="creat-button" routerLink="/dashboard/homepage"> Volver a Inicio </button>
                      </div>
                </div>
            </div>
            
          </div>
        
    </div>
  </div>
  