<div class="body">
    <div>
        <mat-card class="login-card">
            <h1 style="font: 150%;">Docfee</h1>
            <form [formGroup]="form">
                <!-- <h2>Iniciar Sesión</h2> -->
                <mat-form-field class="form-field" appearance="fill">
                    <mat-label>Usuario o Cédula</mat-label>
                    <input matInput autocomplete="off" formControlName="usuario">
                </mat-form-field>
                <mat-form-field class="form-field" appearance="fill">
                    <mat-label>Contraseña</mat-label>
                    <input matInput autocomplete="off" [type]="hide ? 'password' : 'text'" formControlName="contraseña">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <div class="row rl">
                    <ngx-recaptcha2 #captchaElem siteKey="{{key}}" (success)="handleSuccess($event)"
                      [hl]="lang" [theme]="theme" [type]="type" formControlName="recaptcha">
                    </ngx-recaptcha2>
                </div>


                <label class="label etiqueta">
                  <a (click)="reinicarPassword()" class="label-text-alt link link-hover">Olvidaste tu contraseña?</a>
              </label>

              <br>
                <button class="button" (click)="login()"  type="submit" mat-raised-button color="success" [disabled]="form.invalid">Ingresar</button>
                <!-- <h5 class="registro">Registrate aquí</h5> -->
            </form>

            <div *ngIf="failedLogin" class="alert alert-error alerta">
              <div>
                  <span>{{failedLoginMessage}}</span>
              </div>
          </div>
        </mat-card>
    </div>
</div>
