
<div class="container">
  <div class="left">
      <mat-card class="homepage-card mat-elevation-z8">
          <div class="row">
              <div class="col-5 card-data">
                  <mat-card class="first">
                      <h1 class="title">Historial clínico</h1>
                      <mat-card-content>
                          <p>
                              Datos genelares del paciente
                          </p>
                      </mat-card-content>
                  </mat-card>

                  <mat-card class="first">
                    <div class="row">
                      Nombre: {{tratamiento.id_usuario.nombre}} {{tratamiento.id_usuario.apPaterno}} {{tratamiento.id_usuario.apMaterno}}
                    </div>


                      <div class="row">
                       Edad: {{edad}}
                      </div>
                    </mat-card>

                  <mat-card style="text-align: left;">
                      No hay documentos
                  </mat-card>
              </div>
          </div>
      </mat-card>
  </div>
</div>
