@import "~primeicons/primeicons.css";

.ui-dialog .ui-dialog-titlebar-icon {
  display: none;
}

.ui-dialog .ui-dialog-titlebar {
  justify-content: center;
}

.swal2-container {
  z-index: 99999 !important;
}
