.container {
    margin: 15px;
    margin-right: 15px;
    margin-left: 35px;
    padding: 15px;
    overflow: hidden;
    width: auto;
    height: auto;
    border-radius: 10px;
    font-size: 1rem;
    background-color: white ;
}

.title {
    margin: 23px;
    color: gray;
}

.subtitle {
    margin: 15px;
    margin-bottom: 10px;
    color: rgb(26, 26, 26);
}

span {
    margin-left: 15px;
}

.text-inside-grid {
    position: absolute;
    left: 5px;
}

.card {
    height: 20px;
    padding: 9px;
    margin: 15px;
    background-color: #FAFAFA;
    box-shadow: none;
    font-weight: 550;
}

.card1 {
    width: 76%;
    height: 20px;
    padding: 9px;
    margin: 9px;
    margin-top: 15px;
    background-color: #FAFAFA;
    box-shadow: none;
    font-weight: 550;
}

.checkbox {
    display: block;
    margin: 0 12px;
}


.example-container {
  height: auto !important;
  width: auto !important;
  max-width: 100%;
  overflow: auto;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
}

.mat-mdc-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-mdc-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}
