.container1 {
    margin: 15px;
    margin-right: 15px;
    margin-left: 35px;
    padding: 15px;
    overflow: hidden;
    width: auto;
    height: auto;
    border-radius: 10px;
    font-size: 1rem;
    background-color: white ;
  }

  .table-wrapp {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
    width: 90%;
  }

  .large {
    width: 27.5%;
    height: 15px;
  }

  .short {
    width: 15%;
    height: 15px;
  }

  table {
    width: 100%;
    height: auto;
    }
    .mat-header-cell {
        word-wrap: initial;
        display: table-cell;
        padding: 0px 10px;
        line-break: unset;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
    }
    .mat-table {
        overflow-x: scroll;
    }
    .mat-header-row {
        display: table-row;
    }

  .search-div {
    margin: auto;
    height: auto;
    padding: 0px;
    text-align: center;
    }
    .creat-button {
        margin-right: 15px;
        margin-left: 30px;
        margin-top: 10px;
    }
    .search-form-field {
        width: 70%;
        height: 36px;
        margin-left: 15px;
        padding: 0px 20px;
        background-color: whitesmoke;
        border-radius: 5px;
        margin: 10px;
    }
    ::ng-deep .mat-form-field-underline {
        display: none;
    }
    ::ng-deep .mat-form-field-infix {
        border-top: 0px;
    }
    ::ng-deep .mat-form-field-wrapper {
        padding-bottom: 0px;
    }
    ::ng-deep .mat-form-field-suffix button {
        height: 32px;
        width: 32px;
    }

  .hide {
    display: none;
  }



.example-container {
  height: auto !important;
  width: auto !important;
  max-width: 100%;
  overflow: auto;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
}

.mat-mdc-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-mdc-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}
