mat-toolbar {
  background: #002b5c;
  color: rgb(255, 255, 255);
  display: flex;
  z-index: 10;

}

.texto{
  font-family: Arial, Helvetica, sans-serif;
}

.boton1 {
  background: #38B6FF;
  color: #002b5c;
}

.padding{
  padding-right: 1%;
  padding-left: 1%;
}
.padding2{
  padding-right: 25%;
}

