<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>DOCFEE</title>
  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <div class="conteiner-gen" id="face1">
    <div class="conteiner-Welcome">
      <div class="conteiner-banner">
        <img src="https://pilarfernandez1304.github.io/LIM009-Cipher/src/img/logo1.png" alt="" class="logo">
      </div>
      <div class="conteiner-options">
        <div class="area-options">
          <input type="button" value="Consultorio" class="boton">
        </div>
        <div class=" area-options">
          <input type="button" value="Farmacia" class="boton ">
        </div>
      </div>
    </div>
  </div>
  <div class="conteiner-gen" id="face2">
    <div class="conteiner-logeo">
      <div class="conteiner-login">
        <div class="conteiner-banner-login">
          <img src="https://pilarfernandez1304.github.io/LIM009-Cipher/src/img/logo1.png" alt="" class="logo-login">
        </div>
        <figure class="img-user-cont">
          <img src="img/usuario.png" alt="" class="img-user">
        </figure>
        <div>
          <h2>LOGIN</h2>
        </div>
        <form action="" class="form-user" id="login-form">
          <p> <strong> Usuario</strong></p>
          <input type="text" name="Nombre" id="usuario" value="" class="datos-user" />
          <p><strong> Password</strong></p>
          <input type="password" id="password" name="contraseña" value="" class="datos-user" />
          <br>
          <input type="button" id="btn-enter" class="btn-enter" value="Ingresar">
        </form>
      </div>
    </div>
  </div>
  <div id="face3" class="conteiner-gen">
    <div class="back-recipe">
      <div class="conteiner-banner-form">
        <img src="https://pilarfernandez1304.github.io/LIM009-Cipher/src/img/logo1.png" alt="" class="logo-login">
      </div>
      <div >
        <h2>RECETA MEDICA</h2>
      </div>
      <div class="conteiner-receta-medica">
        <form action="#" id="formulario"  class="form-input">
          <section class="cont-offset">
            <p>OFFSET: </p>
            <input type="text" name="Offset" id="offset">
            <p>FECHA: </p>
            <input type="date" name="" id="fecha">
          </section>
          <section class="info-paciente">
            <p>NOMBRE PACIENTE:</p>
            <input type="text" id="Name" class="info-pers">
            <br/>
            <p>EDAD:</p>
            <input type="text" id="Age">
            </section>
            <section class="info-doctor">
              <p>MEDICO:</p>
              <input type="text" class="info-pers" id="nameMedico">
              <p>ESPECIALIDAD:</p>
              <input type="text" id="especialidad">
            </section>
          <section class="conteiner-receta">
            <h4><strong> PRESCRIPCION MEDICA</strong></h4>
            <br/>
            <div class="cont-rece">
              <p class="conteiner-textCipher"><strong> Medicamentos</strong></p>
              <p class="cont-num"> <strong> Suscripcion</strong></p>
              <p class="cont-num"><strong> Indicacion</strong></p>

            </div>
            <div class="cont-rece">
            <input type="text" id="descReceta1" class="conteiner-textCipher">
            <input type="text" id="cantidad1" class="cont-num">
            <input type="text" id="indicacion1" class="cont-num">
            </div>

            <div class="cont-rece">
            <p  id="descReceta2" class="conteiner-textCipher"></p>
            <p id="cantidad2" class="cont-num"></p>
            <p  id="indicacion2" class="cont-num"></p>
            </div>

            <div class="cont-rece">
            <input type="text" id="descReceta3" class="conteiner-textCipher">
            <input type="text" id="cantidad3" class="cont-num">
            <input type="text" id="indicacion3" class="cont-num">
            </div>
            <div class="cont-rece">
              <p type="text" id="descReceta4" class="conteiner-textCipher"></p>
              <p type="text" id="cantidad4" class="cont-num"></p>
              <p type="text" id="indicacion4" class="cont-num"></p>
            </div>
          </section>
          <section class="sec-btn">
          <input type="button" id="btnCapcifrar" value="Cifrar" name="Cipher" class="btn-enter">
          <input type="button" id="enviar" value="Enviar" name="Send" class="btn-enter">
          <input type="button" id="btn-exit" value="salir" name="Clean" class="btn-enter">
          </section>
      </form>
      </div>
    </div>
  </div>

  <div id="face4" class="conteiner-gen">
      <div class="back-recipe-farmacia">
        <div class="conteiner-banner-form">

          <img src=" https://pilarfernandez1304.github.io/LIM009-Cipher/src/img/logo1.png" alt="" class="logo-login">

        </div>
        <div >
          <h2>FARMACIA</h2>
        </div>
        <div class="conteiner-receta-medica">
          <form id="formulario2" action="" class="form-input">
            <section class="cont-offset">
              <p><strong>OFFSET:</strong>  </p>
              <input type="text" name="offsetF" id="offset2">

                <p id="offsetF" > </p>
              <p><strong> FECHA:</strong> </p>
              <p id="DateF"> </p>
            </section>
            <section class="info-paciente">
              <p><strong>NOMBRE PACIENTE:</strong> </p>
              <p id="nameP" class="info-pers border-cont" > </p>
              <br/>
              <p><strong> EDAD:</strong></p>
              <p id="edadP"> </p>
              </section>
              <section class="info-doctor">
                <p><strong> MEDICO: </strong></p>
                <p id="nameDoc" class="info-pers border-cont">  </p>
                <p><strong> ESPECIALIDAD:</strong></p>
                <p id="especialidad-Doc"> </p>
              </section>
            <section class="conteiner-receta">
              <h4><strong> PRESCRIPCION MEDICA</strong></h4>
              <br/>
              <div class="cont-rece">
                <p class="conteiner-textCipher"><strong> Medicamentos</strong></p>
                <p class="cont-num"> <strong> Suscripcion</strong></p>
                <p class="cont-num"><strong> Indicacion</strong></p>

              </div>
              <div class="cont-rece">
              <p  id="text1" class="conteiner-textCipher"> </p>
              <br/>
              <p id="MostrarDescipher"> </p>
              <p  class="cont-num"> </p>
              <p  id="txtind1" class="cont-num"> </p>
              </div>

              <div class="cont-rece">
              <input  id="text2" class="conteiner-textCipher">
              <p id="txt-subs1" class="cont-num "></p>
              <p  id="txtind2" class="cont-num"></p>
              </div>

              <div class="cont-rece">
              <p  id="text3" class="conteiner-textCipher"> </p>
              <p id="MostrarDescipher2"> </p>
              <p id="txt-subs3" class="cont-num"> </p>
              <p id="txtind3" class="cont-num"> </p>
              </div>
              <div class="cont-rece">
              <input  id="text4" class="conteiner-textCipher">
              <p  id="txt-subs4" class="cont-num "></p>
              <p  id="txtind4" class="cont-num "></p>
             </div>
            </section>
            <section class="sec-btn">
            <input type="button" id="btnDescifrar" value="Descifrar" name="Cipher" class="btn-enter">
            <input type="button"  id="Salir" value="Salir" name="Send" class="btn-enter">
            <input id="clean" type="reset" value="Limpiar" name="Clean" class="btn-enter">
            </section>
        </form>
        </div>
      </div>
    </div>



  <script src="cipher.js"></script>
  <script src="index.js"></script>
</body>

</html>
