<body>
<div class="container">
  <div class="header" ALIGN="center" >
    <h1><strong>RECETA MEDICA</strong></h1>
  </div>

  <!-- <section class="content"> -->
  <div class="content-block">

    <!-- Your content goes here  -->
    <div class="row clearfix">
      <div class="col-lg-8 col-md-12">
              <div class="body">
                <div class="row">
                  <div ALIGN="right">
                    <strong>FECHA</strong>
                    <br>
                    <p class="text-muted">{{recetas.fecha | date}}</p>
                  </div>

                  <HR align="CENTER" color="black" noshade />

                  <div class="body">
                    <div class="row">
                      <div class="col-md-3 col-6 b-r">
                        <h3><strong>NOMBRE COMPLETO: </strong></h3>

                        <br>
                        <p class="text-muted">{{recetas.id_cita.tratamiento.id_usuario.nombre}} {{recetas.id_cita.tratamiento.id_usuario.apPaterno}} {{recetas.id_cita.tratamiento.id_usuario.apMaterno}}</p>
                      </div>


                  <div ALIGN="right" >
                    <strong>EDAD:</strong>
                    <br>
                        <p class="text-muted">{{edad}}</p>
                  </div>
                  <HR align="CENTER" color="black" noshade />

                  <div class="col-md-3 col-6">
                    <h3><strong>DIAGNOSTICO: </strong></h3>
                    <br>
                    <p class="text-muted">{{recetas.diagnostico}}</p>
                  </div>

                  <HR align="CENTER" color="black" noshade />

                  <link
                    href="https://fonts.googleapis.com/css?family=Rock+Salt"
                    rel="stylesheet"
                    type="text/css"
                  />

                  <table class="default">
                    <thead>
                      <tr>
                        <th scope="col">MEDICAMENTO</th>
                        <th scope="col">TAREAS/HORARIOS</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">{{recetas.medicamento}}</th>
                        <th scope="row">Tomar cada {{recetas.horarios}} Horas y la tarea es {{recetas.tareas}} </th>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>
  </div>
  <!-- </section> -->
</div>
<div ALIGN="center">

  <mat-form-field style="width: 50%; background-color: aliceblue;" appearance="outline">
    <mat-label>Número de teléfono</mat-label>
    <input matInput placeholder="Número de teléfono" [(ngModel)]="numero">
  </mat-form-field>

  <!-- <input name="textarea" rows="1" cols="50" [(ngModel)]="numero" placeholder="Número de teléfono"> -->
</div>
<div ALIGN="center">
  <mat-form-field style="width: 50%; background-color: aliceblue;" appearance="outline">
    <mat-label>Describe las indicaciones</mat-label>
    <input matInput placeholder="Describe las indicaciones" [(ngModel)]="mensaje">
  </mat-form-field>
  <!-- <input name="textarea" rows="5" cols="50" [(ngModel)]="mensaje" placeholder="Describe las indicaciones"> -->
</div>

<div ALIGN="center">
  <button mat-raised-button color="primary" (click)="enviar()">
    Enviar
  </button>

</div>



</body>
