.container {
  margin: 15px;
  margin-right: 15px;
  margin-left: 35px;
  padding: 15px;
  overflow: hidden;
  width: auto;
  height: auto;
  border-radius: 10px;
  font-size: 1rem;
  background-color: transparent ;
}

.table-wrapp {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  width: 90%;
}

.large {
  width: 27.5%;
  height: 15px;
}

.short {
  width: 15%;
  height: 15px;
}

table {
  width: 100%;
  height: auto;
  }
  .mat-header-cell {
      word-wrap: initial;
      display: table-cell;
      padding: 0px 10px;
      line-break: unset;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: middle;
  }
  .mat-table {
      overflow-x: scroll;
  }
  .mat-header-row {
      display: table-row;
  }

.search-div {
  margin: auto;
  height: auto;
  padding: 0px;
  text-align: center;
  }
  .creat-button {
      margin-right: 15px;
      margin-left: 30px;
      margin-top: 10px;
  }
  .search-form-field {
      width: 70%;
      height: 36px;
      margin-left: 15px;
      padding: 0px 20px;
      background-color: whitesmoke;
      border-radius: 5px;
      margin: 10px;
  }
  ::ng-deep .mat-form-field-underline {
      display: none;
  }
  ::ng-deep .mat-form-field-infix {
      border-top: 0px;
  }
  ::ng-deep .mat-form-field-wrapper {
      padding-bottom: 0px;
  }
  ::ng-deep .mat-form-field-suffix button {
      height: 32px;
      width: 32px;
  }

.hide {
  display: none;
}

/* spacing */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid rgb(0, 0, 0);
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

th, td {
  padding: 20px;
}

/* typography */

html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

thead th, tfoot th {
  font-family: 'helvetica', cursive;
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
}

tfoot th {
  text-align: right;
}

tbody tr:nth-child(odd) {
  background-color: #f5f5f5;
}

tbody tr:nth-child(even) {
  background-color: #dfd9df;
}



table {
  background-color: #c4c4c4;
}

body {
  height: 800px;
  background-image: url("https://png.pngtree.com/png-clipart/20220124/original/pngtree-simple-and-atmospheric-hand-drawn-heart-shaped-line-hospital-logo-png-image_7187404.png");
  background-size: cover;
  background-size: 50rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;

}
