<div class="body">
  <div>

    <mat-card class="login-card">
      <!-- <h1 class="titulo">Reiniciar contraseña            </h1> -->
        <form>
            <mat-form-field class="form-field" appearance="fill">
              <mat-label>Correo</mat-label>
              <input matInput [formControl]="emailFormControl" type="text"
                 (keyup.enter)="sendResetPasswordEmail()">
            </mat-form-field>

            <label *ngIf="emailFormControl.invalid && emailFormControl.dirty" class="label">
              <span class="label-text-alt invalid"
                *ngIf="emailFormControl.errors?.['required'] || emailFormControl.errors?.['empty']">El
                correo es requerido</span>
              <span class="label-text-alt invalid"
                *ngIf="emailFormControl.errors?.['pattern'] && !emailFormControl.errors?.['required'] && !emailFormControl.errors?.['empty']">Debe
                ser un correo valido</span>
            </label>

            <div class="row rl">
              <ngx-recaptcha2 #captchaElem siteKey="{{key}}"  [hl]="lang" [theme]="theme"
                [type]="type" [formControl]="recaptcha">
              </ngx-recaptcha2>
            </div>
        </form>
        <button class="button btn" mat-raised-button color="success" (click)="sendResetPasswordEmail()" [disabled]="disableSendButton">Enviar correo</button>


      <div *ngIf="failedResetPassword" class="alert alert-warm alerta mt-2">
        <div>
          <span>{{failedResetPasswordMessage}}</span>
        </div>
      </div>
      <div *ngIf="passwordResetEmailSended" class="alert alert-success mt-2">
        <div>
          <span>Se ha enviado un correo para cambiar tu contraseña</span>
        </div>
      </div>
    </mat-card>
  </div>
</div>
